@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Click 'Add Order' to Upload a Purchase Order, or 'View Orders' to view already uploaded orders. </p>
</div>
